<div class="row align-items-center">
    <div id = "col2" class="col">
        <div class="container" id="cont">
            <label id="description">"Welcome to SmartHome Control Hub, your gateway to seamless home surveillance.
                Effortlessly oversee your property's security with our intuitive platform, extending beyond just lighting and door control. With our innovative system, you can now remotely access and manage your house cameras, ensuring vigilant surveillance from anywhere. Customize settings, monitor live feeds, and enjoy the peace of mind that comes with comprehensive home monitoring. Experience the ultimate convenience and safety at your fingertips with our SmartHome Control Hub."</label>
            <a id="button" class="btn btn-primary btn-sm "  role="button" (click)="goBack()">Go back </a>
        </div>
    </div>
    <div id="col1" class="col">
        <h1>
            Security Cam

            <img [src]="imageurl" alt="Imagen">
          </h1>

    </div>
</div>
